
<div class="face-snap-card" [ngClass]="{'snapped' : button === 'unlike'  }">
  <p> {{0.366558 |number : '1.0-2'}}</p>
  <P> {{0.258 |percent : '1.0-1' }}</P>
  <p>{{ 344.36 | currency : 'EUR'  }}</p>
  <h2>{{ faceSnap.title | titlecase }}</h2>
  <a routerLink="/facesnaps">Back</a>
  <p>Mis en ligne le {{ faceSnap.createdDate | date}}</p>
  <p *ngIf="faceSnap.location"> Photo prise à {{faceSnap.location}}</p>
  <img [src]="faceSnap.imageUrl" [alt]="faceSnap.title">
  <p>{{ faceSnap.description }}</p>
  <p><button (click)="onSnap()"> {{button}}</button>
    <span [ngStyle]="{ color: 'rgb(0, ' + faceSnap.snaps + ', 0)' }">😀 {{ faceSnap.snaps }}</span></p>

</div>
